.slider__card {
    display: grid;
    grid-template-areas: "slider-card__date slider-card__date" "slider-card__image slider-card__title" "slider-card__image slider-card__email" "slider-card__description slider-card__description";
    grid-template-columns: 64px 1fr;
    grid-template-rows: 32px 32px 32px 1fr;
    grid-column-gap: 16px;
    width: 352px;
    background: #fff;
    border-radius: 16px;
    padding: 24px;
    cursor: pointer;
    overflow: hidden;
}

.slider__card:hover {
    transform: scale(1.03);
}

@media (max-width: 1439px) {
    .slider__card {
        width: 336px;
        grid-template-columns: 48px 1fr;
        grid-template-rows: 24px 24px 24px 1fr;
        grid-column-gap: 12px;
    }
}

@media (max-width: 699px) {
    .slider__card {
        width: 288px;
        padding: 16px;
        grid-template-columns: 48px 1fr;
        grid-template-rows: 24px 24px 24px 1fr;
        grid-column-gap: 12px;
        overflow: hidden;
    }
}

.slider-pagination {
    width: 8px;
    cursor: pointer;
    --swiper-theme-color: #1A1B22;
}

.slider-card__image {
    grid-area: slider-card__image;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

@media (max-width: 1439px) {
    .slider-card__image {
        width: 48px;
        height: 48px;
    }
}

.slider-card__email {
    grid-area: slider-card__email;
    margin: 0;
}

.slider-card__description {
    grid-area: slider-card__description;
}

.slider-card__date {
    grid-area: slider-card__date;
    margin: 0;
}