.slider__card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    color: black;
    width: 400px;
    max-height: 288px;
    box-shadow: 0 0 2px;
    background: #fff;
    border-radius: 16px;
    cursor: pointer;
    overflow: hidden;
}

.slider__link {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 24px;
    align-items: flex-start;
}

.slider__card:hover {
    transform: scale(1.03);
}

@media (max-width: 1439px) {
    .slider__card {
        width: 336px;
        height: 242px;
    }
}

@media (max-width: 699px) {
    .slider__card {
        width: 288px;
        padding: 16px;
    }
}

.slider-pagination {
    width: 8px;
    cursor: pointer;
    --swiper-theme-color: #1A1B22;
}

.slider-card__image {
    width: 64px;
    height: 64px;
    margin-right: 16px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

@media (max-width: 1439px) {
    .slider-card__image {
        width: 48px;
        height: 48px;
    }
}

.slider-card__email {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: start;
    align-self: start;
    color: black;
}

.slider-card__description {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: black;
    margin-top: 16px;
    margin-bottom: 24px;
    text-align: start;
}

.slider-card__date {
    color: #B6BCBF;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    margin-left: 0;
    text-align: start;
    padding-bottom: 16px;
}

.slider-card__title {
    text-align: start;
    color: black;
    margin-bottom: 10px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
}

.swiper-button-prev {
    left: -180px;
}

.slider__main {
    display: flex;
    flex-direction: row;
}