.for-clients {
    text-align: start;
    margin-top: 0;
    max-width: 1440px;
    margin-bottom: 94px;
    padding: 80px 20%;
}

@media screen and (max-width:1000px) {
    .for-clients {
        padding: 29px 40px 26px 15%;
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width:660px) {
    .for-clients {
        padding: 16px 16px 16px 16px;
        margin-left: 0;
        margin-right: 0;
    }
}