.main__photo{
  width:464px;
  height: 464px;
  border-radius:50%;
  object-fit: cover;
  margin-right: 60px;
  margin-top: 20px;
}

@media screen and (max-width:1024px){
  .main__photo{
    width: 332px;
    height: 332px;
  }
  }
@media screen and (max-width:900px){
.main__photo{
  width: 232px;
  height: 232px;
  margin-top: 0;
  margin-right: 30px;
}
}

@media screen and (max-width:600px){
  .main__photo{
    width: 272px;
    height: 272px;
    margin:0 auto 24px auto;
  }
  }

