@import url('./__cards/search-result__cards.css');
@import url('./__card/search-result__card.css');
@import url('./__title/search-result__title.css');
@import url('./__link/search-result__link.css');
@import url('./__image/search-result__image.css');
@import url('./__date/search-result__date.css');
@import url('./__card-title/search-result__card-title.css');
@import url('./__text/search-result__text.css');
@import url('./__author/search-result__author.css');
@import url('./__button/search-result__button.css');
.search-result {
  max-width: 100%;
  background-color: #F5F6F7;
  display: none;
}