.search-result__button {
    max-width: 288px;
    padding: 18px 84px 21px 84px;
    cursor: pointer;
    border-radius: 100px;
    border: none;
    outline: none;
    background-color: white;
    transition: .3s;
    margin-top: 64px;
    margin-left: 40%;
    margin-right: auto;
    margin-bottom: 80px;
    display: none;
}

.search-result__button-active {
    display: block;
}

.search-result__button:hover {
    background-color: lavender;
    opacity: .9;
}

@media screen and (max-width:900px) {
    .search-result__button {
        max-width: 240px;
        padding: 15px 60px 17px 60px;
        margin-bottom: 40px;
    }
}

@media screen and (max-width:600px) {
    .search-result__button {
        max-width: 288px;
        padding: 15px 84px 17px 84px;
        margin-top: 16px;
        margin-left: 20%;
    }
}