.search-result__card {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 16px;
    transition: .2s;
}

.search-result__card:hover {
    box-shadow: 0 0 10px 10px rgba(8, 29, 45, 0.1);
}

@media screen and (max-width:1024px) {
    .search-result__card {
        width: calc(100% - (16px)/3);
    }
}

@media screen and (max-width:700px) {
    .search-result__card {
        width: 100%;
        margin: 16px 0 0;
    }
}