.header__title {
    display: block;
    max-width: 600px;
    margin: 77px auto 30px 30%;
    font-family: Roboto slab;
    font-size: 60px;
    font-weight: normal;
    color: white;
    text-align: start;
}

@media screen and (max-width:900px) {
    .header__title {
        font-size: 36px;
        margin: 40px auto 16px 30%;
        max-width: 385px;
    }
}

@media screen and (max-width:700px) {
    .header__title {
        font-size: 36px;
        margin: 40px auto 16px 10%;
        max-width: 385px;
    }
}

@media screen and (max-width:500px) {
    .header__title {
        margin: 30px auto 16px 20%;
        max-width: 285px;
    }
}

@media screen and (max-width:380px) {
    .header__title {
        margin: 30px auto 16px auto;
        max-width: 285px;
    }
}