.main__title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  margin-top: 80px;
  margin-left: 0;
}

@media screen and (max-width:900px){
  .main__title{
    font-size: 30px;
    margin-top: 0;
  }
  }