.footer__link {
    margin: 0;
    cursor: pointer;
    transition: .3s;
    padding-right: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.footer__link:hover {
    color: grey;
}

@media screen and (max-width: 700px) {
    .footer__link {
        max-width: 320px;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
}