.main__about {
    padding: 80px 200px 0 100px;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width:1024px) {
    .main__about {
        padding: 40px 40px 0 40px;
    }
}

@media screen and (max-width:600px) {
    .main__about {
        flex-direction: column;
        padding: 32px 24px 32 24px;
    }
}