.search-result__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 85%;
}

@media screen and (max-width:800px){
  .search-result__cards{
    grid-gap:8px;
  }
}
@media screen and (max-width:570px){
  .search-result__cards{
   grid-template-columns: 1fr;
   width: 90%;
  }
}