@media screen and (max-width:800px) {
    .search-result__cards {
        grid-gap: 8px;
    }
}

@media screen and (max-width:570px) {
    .search-result__cards {
        grid-template-columns: 1fr;
        width: 90%;
    }
}

.card__wrapper {
     width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    ;
    grid-gap: 16px;
    margin: 0 auto;
}
