.header__navelement {
    padding: 10px;
    margin-right: 30px;
    margin-bottom: auto;
    height: 100%;
    border-bottom: 1px solid transparent;
}

.header__navelement:hover {
    border-bottom: 1px solid white;
}

@media screen and (max-width:500px) {
    .header__navelement {
        margin-right: 11px;
        padding: 5px;
    }
}