.search-result__card-title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  display: block;
  max-width: 352px;
  margin: 12px 24px 0; 
}

@media screen and (max-width:800px) {
  .search-result__card-title {
    font-size: 22px;
    margin: 12px 16px 0;
    
  }
}

@media screen and (max-width:600px) {
  .search-result__card-title {
    max-width: 252px;
  }
}