.header__menu {
    display: flex;
    flex-direction: row;
    max-width: 1440px;
    max-height: 80px;
    margin: 0 auto;
    border-bottom: 1px solid grey;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 50px;
}

@media screen and (max-width:660px) {
    .header__menu {
        padding-left: 10px;
        padding-right: 10px;
    }
}