    .footer__nav {
        display: flex;
        justify-content: space-between;
        padding: 0;
        list-style: none;
    }
    
    @media screen and (max-width: 760px) {
        .footer__nav {
            flex-direction: column;
            order: 3;
            max-width: 500px;
        }
    }
    
    @media screen and (max-width: 400px) {
        .footer__nav {
            flex-direction: column;
        }
    }