@import url('./__menu/header__menu.css');
@import url('./__navlist/header__navlist.css');
@import url('./__link/header__link.css');
@import url('./__logo/header__logo.css');
@import url('./__nav/header__nav.css');
@import url('./__navelement/header__navelement.css');
@import url('./__title/header__title.css');
@import url('./__subtitle/header__subtitle.css');
@import url('./__search/header__search.css');
@import url('./__logo/header__black-theme.css');
@import url('./__link/_active/header__link_is-active.css');
.header {
    background-image: url('../../../images/header__main.jpg');
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
