.footer__social {
    padding-top: 15px;
    padding-right: 40px;
}

@media screen and (max-width:760px) {
    .footer__social {
        align-self: flex-end;
        padding-right: 17px;
        order: 2;
    }
}